{% extends 'layout.html.twig' %}
{% block title %}Galería{% endblock %}
{% block content %}
    {#<h2 class="text-center">Galería</h2>#}
    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
    <div id="links">
        <a href="{{ asset('img/avatar/avatar_001.png') }}" title="Banana">
            <img src="{{ asset('img/avatar/avatar_001.png') }}" alt="Banana">
        </a>
        <a href="{{ asset('img/avatar/avatar_002.png') }}" title="Apple">
            <img src="{{ asset('img/avatar/avatar_002.png') }}" alt="Apple">
        </a>
        <a href="{{ asset('img/avatar/avatar_003.png') }}" title="Orange">
            <img src="{{ asset('img/avatar/avatar_003.png') }}" alt="Orange">
        </a>
    </div>

    {#{% for galeria in galerias %}#}
        {#{% for imagen in galeria.imagenes %}#}
            {#<p><strong>Nombre:</strong> {{ imagen.imageName }}</p>#}
        {#{% endfor %}#}
    {#{% endfor %}#}
    <script src="{{ asset('js/blueimp-gallery.min.js') }}"></script>

    <script>
        document.getElementById('links').onclick = function (event) {
            event = event || window.event;
            var target = event.target || event.srcElement,
                link = target.src ? target.parentNode : target,
                options = {index: link, event: event},
                links = this.getElementsByTagName('a');
            blueimp.Gallery(links, options);
        };
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/blueimp-gallery.min.css') }}" />
{% endblock %}