<nav class="menubar navbar navbar-inverse navbar-fixed-top">
    <!--div class="container-fluid">
        <img style="max-height: 50px" class="img-responsive center-block" src="img/aparteLogo.jpg"/>
    </div-->
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <span id="header_shadow"></span>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url('homepage') }}"> <img style="max-height: 50px" src="img/aparteLogo.jpg"/></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('orlas') }}">Orlas Universitarias</a></li>
                <li><a href="{{ path('mantenimiento') }}">Fotoescuela</a></li>
                <li><a href="{{ path('mantenimiento') }}">Graduaciones</a></li>
                <li><a href="{{ path('mantenimiento') }}">Retratos</a></li>
                <li><a href="{{ path('mantenimiento') }}">Reportaje social</a></li>
                <li><a href="{{ path('mantenimiento') }}">Quienes Somos</a></li>
                <li><a href="{{ path('mantenimiento') }}">Como trabajamos</a></li>
                <li><a href="{{ path('mantenimiento') }}">Contactar</a></li>
            </ul>
            <!--form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form-->
            <ul class="nav navbar-nav navbar-right">
                 <li>
                    <a href="{{ url('login') }}">
                        {% if app.user %}
                        {{ app.user.username }}
                            {% else %}
                            Acceso
                        {% endif %}
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>